<!--
<input type="text" [(ngModel)]="name">// two way binding data 

 {{name}} //string interpolation 
-->

<input #newtaskElem type="text" [(ngModel)]="newTask" (keyup)="errMsg = '';">

<button *ngIf="!isEdit" (click)="add(newtaskElem.value)">Add Task</button>
<button *ngIf="isEdit" (click)="update()">Edit Task</button>
<button *ngIf="isEdit" (click)="cancel()">Cancel</button>

<small>{{errMsg}}</small>
<!-- <div *ngIf="b == true">Task is not given</div> -->
<!-- ol.test>li*4 : to create 4 li tag inside ol tag with class name test    -->
<ol class="test">
    <li *ngFor="let task of todo, index as i ">
        {{task}}
        <!-- <button (click)="deleteTask(task)">Delete task</button> -->
        <button (click)="deleteTask(i)">Delete task</button>
        <button (click)="editTask(i)">Edit task</button>
    </li>
</ol>